//общие стили

.library_frame {
  position: relative;
  width: 330px;
  height: 87vh;
  overflow-y: scroll;
  fill: #fff;
  border: 1px solid #000000;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 16.8873px;
  line-height: 20px;
}


.wrapper {
  //margin: 10px 10px;
}

.header {
  position: fixed;
  background: #dff9fa;
}

h1 {
  font-size: 23px;
}


//стили шапки и поиска

.label_select_component {
  margin: 10px 5px;
  text-align: center;
}


.input_search_element {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 25px;
  margin: 20px 20px;
}

.close_btn {

  width: 100px;
  height: 21.11px;
  padding-top: 3px;
}

.label_from_input {
  width: 200px;
  height: 25px;
  margin-left: 10px;
}

//Стили для списка компонентов

.elements {
  padding-top: 150px;
}

.list_components {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 5px;
  padding: 0;

}

.component {
  margin: 0 10px;
  width: auto;
  height: auto;

}

.component:hover {
  border: 1px solid red;

}

.big_component {
  width: 250px;

}


.small_component {
  width: 100px;
  margin: auto 0;

}






