//общие стили
.library_frame {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-left: 0.5px solid #bcd2e2;
    padding: 5px;
}

.choose-component {
    margin: 10px 0px 10px 0px;
}

//стили шапки и поиска
.label_select_component {
    max-width: 100%;
    margin: 5px auto;
    text-align: center;
}

.input_search_element {
    display: flex;
}

//Стили для списка компонентов
.list_components {
    overflow: auto;
    max-height: 450px;
    list-style-type: none;
    margin: 0 auto;
}

.component {
    background-color: #a2d8ff;
    border-radius: 5px;
    border: 1px solid #9cc3df;
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    padding: 10px;
}

.component img {
    width: 100px;
    height: 50px;
}
