<header>
    <nav class="header">
        <div class="header-logo">
            <img class="headerLogo" src="assets\images\mainpage\hselogo.png" alt="HSE logo" />
        </div>
        <div class="header-left">
            <a>Виртуальная IoT Лаборатория</a>
        </div>
        <div class="header-right">
            <a href="#">Мои проекты</a>
            <a href="#">Помощь</a>
        </div>
        <div class="header-user">
            <a><img class="header-user-img" src="assets\images\mainpage\userlogo.png" alt="User" /></a>
        </div>
    </nav>
</header>

<div class="main-menu">
    <div class="control-menu">
        <div class="menu-bin">
            <button id="rmBtn"><img class="header-user-img" src="assets\images\mainpage\delete.png" alt="Delete" /></button>
        </div>
        <div class="menu-rotate">
            <button id="rotateBtn"><img class="header-user-img" src="assets\images\mainpage\rotate.png" alt="Rotate" /></button>
        </div>
    </div>

    <div class="flow-menu">
        <div class="menu-left">
            <button id="undoBtn"><img class="header-user-img" src="assets\images\mainpage\leftarrow.png" alt="undo" /></button>
        </div>
        <div class="menu-right">
            <button id="redoBtn"><img class="header-user-img" src="assets\images\mainpage\rightarrow.png" alt="redo" /></button>
        </div>
    </div>
    <div class="center-menu">
        <br />
    </div>
    <div class="right-menu">
<!--        <app-terminal-button></app-terminal-button>-->
    </div>
</div>

<div class="mainField">
    <div class="elementsField">
      <div #graphContainer id="graphContainer" class="graph">
      </div>
    </div>
    <div class="elementsLibrary">
      <div class="wrapper">
        <div class="library_frame">



            <h1 class="label_select_component">
              Выберите компонент
            </h1>





            <div class="list_components">

              <li class="component">
                <img id="esp_im" class="esp" src="assets/images/components_library/esp8266.png" alt="esp">
                <p>ESP-8266</p>
              </li>
              <li class="component">
                <img id="led_im" class="thin" src="assets/images/components_library/led.png" alt="led">
                <p>Светодиод</p>
              </li>
              <li class="component">
                <img id="res_im" src="assets/images/components_library/resistor.png" alt="resistor">
                <p>Резистор</p>
              </li>
              <li class="component">
                <img id="bat_im" src="assets/images/components_library/battery_9V.png" alt="battery">
                <p>Батарейка 9В</p>
              </li>
<!--              <li class="component">-->
<!--                <img src="assets/images/components_library/layout_board.png" alt="board">-->
<!--                <p>Макетная плата</p>-->
<!--              </li>-->
<!--             /-->
              <li class="component">
                <img id="stick_im" src="assets/images/components_library/polzunok.png" alt="polzunok">
                <p>Переключатель</p>
              </li>
          </div>
        </div>
      </div>
    </div>
</div>
