<header>
    <nav class="header">
        <div class="header-logo">
            <img class="headerLogo" src="assets\images\mainpage\hselogo.png" alt="HSE logo" />
        </div>
        <div class="header-left">
            <a>IoT Лаборатория</a>
        </div>
        <div class="header-right">
            <a href="#">Мои проекты</a>
            <a href="#">Помощь</a>
        </div>
        <div class="header-user">
            <a><img class="header-user-img" src="assets\images\mainpage\userlogo.png" alt="User" /></a>
        </div>
    </nav>
</header>

<div class="main-menu">
    <div class="control-menu">
        <div class="menu-bin">
            <button><img class="header-user-img" src="assets\images\mainpage\delete.png" alt="Delete" /></button>
        </div>
        <div class="menu-rotate">
            <button><img class="header-user-img" src="assets\images\mainpage\rotate.png" alt="Rotate" /></button>
        </div>
    </div>

    <div class="flow-menu">
        <div class="menu-left">
            <button><img class="header-user-img" src="assets\images\mainpage\leftarrow.png" alt="Delete" /></button>
        </div>
        <div class="menu-right">
            <button><img class="header-user-img" src="assets\images\mainpage\rightarrow.png" alt="Rotate" /></button>
        </div>
    </div>
    <div class="center-menu">
        <br />
    </div>
    <div class="right-menu">
        <app-terminal-button></app-terminal-button>
    </div>
</div>

<div class="mainField">
    <div class="elementsField">
        <p></p>
    </div>
    <div class="elementsLibrary">
        <app-library></app-library>
                <a><img class="firstRow" src="images/LED.PNG" alt="Rotate" /></a>
                <a><img class="firstRow" src="images/condey.PNG" alt="Rotate" /></a>
                <div class="writings">
                <a>Светодиод &#160; &#160; &#160; &#160; Конденсатор</a>
                </div>
                <a><img class="secondRow" src="images/res.PNG" alt="Rotate" /></a>
                <a><img class="secondRow" src="images/diode.PNG" alt="Rotate" /></a>
                <div class="writings">
                <a>&#160; Резистор &#160; &#160; &#160; &#160; &#160; &#160;  &#160; Диод</a>
                </div>
                <a><img class="thirdRow" src="images/wire.png" alt="Rotate" /></a>
                <a><img class="thirdRow" src="images/polzunok.PNG" alt="Rotate" /></a>
                <div class="writings">
                <a> &#160;  &#160; Провод &#160; &#160; &#160; &#160; &#160;  &#160;  Ползунок</a>
                </div>
                <a><img class="fourthRow" src="images/but.PNG" alt="Rotate" /></a>
                <div class="writings">
                <a> &#160;  &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; Кнопка</a>
                </div>
    </div>
</div>
